<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <appSettings>
     <add key="fileXML" value="DataOsoby.xml"/>
   </appSettings> 
  <system.serviceModel>
    <services>
      <service name="WCFServiceUdajeOsoby.Operations" behaviorConfiguration="mexBehavior">
        <endpoint address="Operations" binding="basicHttpBinding" contract="WCFServiceUdajeOsoby.IFileOperation" />
        <endpoint address="Operations" binding="netTcpBinding" contract="WCFServiceUdajeOsoby.IFileOperation" />
        <endpoint address="Operations" binding="basicHttpBinding" contract="WCFServiceUdajeOsoby.IDataOperation" />
        <endpoint address="Operations" binding="netTcpBinding" contract="WCFServiceUdajeOsoby.IDataOperation" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:3000/" />
            <add baseAddress="net.tcp://localhost:45617/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>